<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Thêm NCC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="txt_list_add">
  <div class="txt_name">
  <ion-item class="txt_item1">
    <ion-label class="name_1">Tên Nhà Cung Cấp</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="txt_item1">
    <ion-label class="name_1">Điện thoại</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item class="txt_item1">
    <ion-label class="name_1">Địa Chỉ </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="txt_item1">
    <ion-label class="name_1">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="txt_item1">
    <ion-label class="name_1">Mã Số Thuế</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="txt_item1">
    <ion-label class="name_1">Chinh Sách</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</div>
</ion-card>
<div class="add_btn">
  <button>Lưu</button>
</div>
</ion-content>
