<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nhà Cung Cấp</ion-title>
    <ion-buttons slot="end" (click)="gotosupplieradd()">
      <ion-icon slot="end" name="trash"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <form [formGroup]="addSupplier" (ngSubmit)="createSupplier()"> -->
  <ion-card class="txt_list_add">
    <div class="txt_name">
    <ion-item class="txt_item1">
      <ion-label class="name_1">Tên nhà cung cấp</ion-label>
      <ion-label class="name_2">Adidas</ion-label>
      <!-- <ion-input type="text"></ion-input> -->
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Điện thoại</ion-label>
      <ion-label class="name_2">0965431234</ion-label>
      <!-- <ion-input type="number" ></ion-input> -->
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Địa chỉ </ion-label>
      <ion-label class="name_2">161/1 ni sư huỳnh liên,tân bình</ion-label>
      <!-- <ion-input type="text" ></ion-input> -->
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Email</ion-label>
      <ion-label class="name_2">Adidas</ion-label>
      <!-- <ion-input type="text" ></ion-input> -->
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Mã số thuế</ion-label>
      <ion-label class="name_2">345665</ion-label>
      <!-- <ion-input type="text" ></ion-input> -->
    </ion-item>
    <ion-item class="txt_item1">
      <ion-label class="name_1">Chính sách</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
  </div>
  </ion-card>
  <div class="add_btn">
    <button type="submit">LƯU</button>
  </div>
<!-- </form> -->
</ion-content>
